<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "clock" %>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body background="https://i.ytimg.com/vi/7LLGDh1TuR8/maxresdefault.jpg">
<h3>Pomodoro Clock</h3>
    <center><button>Want to start over with a fresh grid?</button></center>
    <div class="container">
    </div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<%= javascript_include_tag('main.js') %>
</body>
</html>