<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
    <div class="title"><center><h1>Pomodoro Clock</h1></center></div>
    <body>
    <div>Registration closes in <span id="time"></span> minutes!</div>
       <table>
  <tr>
    <th></th>
    <th scope="col">Saturday</th>
    <th scope="col">Sunday</th>
  </tr>
  <tr>
    <th scope="row">Temperature</th>
    <td>73</td>
    <td>81</td>
<td colspan="2">Out of Town</td>
<td rowspan="3">Relax</td>
  </tr>
</table>


<%= javascript_include_tag('main.js') %>
</body>
</html>