<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
    <div class="container">
        <div><center><h1>Pomodoro Clock</h1></center></div>
    <div class="control">
        <table>
            <tr>
                <th>Session</th>
                <th>Break</th>
            </tr>
            <tr>
                <th>JS for session time here</th>
                <th>JS for break time here</th>
            </tr>
        </table>
    </div>

    <div class="countdown">
        <table>
  <tr>
    <th><img src="/assets/start-button.png" /></th>
    <th><img src="/assets/refresh-button.png" /></th>
  </tr>
  <tr>
    <th colspan="2">Session</th>
    </tr>
    <tr>
    <th colspan="2"><span id="timer"></span></th>
    <th colspan="2"><span id="countdown"></span></th>

    </tr>

      <tr>
    <th scope="col"><img src="/assets/pause-button.png" /></th>
    <th scope="col"><img src="/assets/stop-button.png" /></th>
 </table>
</div>
</div>
<%= javascript_include_tag('main.js') %>
</body>
</html>