* {
  box-sizing: border-box;
}
img {
    width: 40px;
    margin-top: 10px;

}
body {
    background-color: grey;
}
table {
    color: white;
    width:100%
}
h1 {
    margin-top: 60px;
    font-weight: bold;
}
.container {
  width: 35%;
  margin: auto;

}
.control {
outline: 1px solid #67466f;
height: 12%;
margin-bottom: 10px;
background-color: black;


}
.countdown {
outline: 1px solid #67466f;
height: 35%;
  background-color: black;
}
#countdown {
    font-size: 40px;
}
#numS, #numB {
    display: inline;
}
